@reference "../../index.css";

.view-project-card {
  @apply m-8 flex-1 border border-gray-200 rounded-md shadow-sm p-8;
}

.view-project-card-content {
  @apply space-y-3 text-sm;
}

.view-project-card-field {
  @apply flex flex-col;
}

.view-project-card-label {
  @apply text-slate-500 uppercase tracking-wide text-xs;
}

.view-project-card-value {
  @apply font-medium;
}

.view-project-card-grid {
  @apply grid grid-cols-2 gap-4;
}
